// * Imports

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// * Variables

$success-color: #3dd67a;
$green-color: green;
$font-family: "Roboto", sans-serif;


// * Mixins
@mixin parrafo {
  font-family: $font-family;
  font-weight: 600;
  color: $success-color;
  font-size: 17px;
  letter-spacing: 0.8px;
  &::before {
    content: "Hola";
    color: #2b7de9;
  }
}

@mixin position-body-section($number) {
  position: relative;
  left: $number;
  color: #a8a7a7;
}

@mixin pictures($opacity) {
  width: 100%;
  opacity: $opacity;
  position: absolute;
  top: 0;
  height: 190px;
}

// * Selectors & stuffs

.header-image-2 {
  width: 100%;

  img {
    @include pictures(0.25);
  }

  .parrafo {
    margin-top: 2.8em;
    text-align: center;
    @include parrafo;
  }
}

#unSpan {
  position: relative;
  left: 5em;
  right: 0;
  bottom: 0.5em;
  font-size: 14px;
}

ion-menu-button {
  color: $green-color;
  margin-top: 15px;
}

.body-section {
  padding: {
    top: 30px;
    bottom: 0;
    left: 18px;
    right: 18px;
  }
  font-family: $font-family;

  .header-contenedor {
    color: $success-color;
    font-weight: 600;

    ion-icon {
      position: relative;
      top: 2px;
    }
  }

  .p-body-section {
    color: $success-color;
  }

  .p-body-section-left {
    @include position-body-section(65px);
  }

  .p-body-section-left-prestamos {
    @include position-body-section(85px);
  }

  .p-body-section-left-inversiones {
    @include position-body-section(60px);
  }

  .p-body-section-left-gerencial {
    @include position-body-section(75px);
  }

  .p-body-section,
  .p-body-section-left,
  .p-body-section-left-inversiones,
  .p-body-section-left-prestamos,
  .p-body-section-left-gerencial {
    font-size: 13.5px;
    margin-top: 5px;
  }

  .span-body-section-left {
    left: 182px;
    font-weight: bold;
  }

  .span-body-section,
  .span-body-section-left {
    position: relative;
    bottom: 8px;
    font-size: 13px;
  }

  .ion-item-body-section {
    margin-bottom: 25px;
  }
}

.unParrafo {
  @include parrafo;
}

ion-list {
  ion-icon {
    position: relative;
    top: 2px;
  }
}

.boton-cerrar-sesion {
  width: 100px;
  border: 1px solid $success-color;
  border-radius: 50px;
  margin: 25px auto;
}